.service-card {
    border-left-style: double;
    border-left-width: 5px;
    border-left-color: goldenrod;
    /* border: 3px solid darkmagenta; */
    border-radius: 15px 0px;
    padding: 10px 10px;
    margin: 10px;
}
.card-footer{
    background-color: white;
    border: none;
}
.card-body{
    background-color: rgba(208, 165, 32,0.4);
}
.card-footer{
    background-color: rgba(208, 165, 32,0.4);
    padding: 0;
}
.service-btn{
    width: 100%;
    background-color: burlywood;
    color: aliceblue;
}
.service-btn:hover{
    width: 100%;
    background-color: rgba(222, 184, 135,0.7);
    color: aliceblue;
}