.footer{
    margin-top: 197px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}

.footer .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}
.footer .box-container .box h3:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.footer .box-container .box a {
    text-decoration: none;
    color: #fff9;
    font-size: 1rem;
    padding-bottom: 1rem;
    display: block;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i {
    padding-right: 1rem;
}

.footer p{
    margin-top: 15px;
    font-size: smaller;
}
