.carousel-caption {
    transform: translateY(-50%);
    bottom: initial;
    top: 50%;
}
.carousel .carousel-item {
    max-height:575px;
}

.carousel-item img {
    object-fit:cover;
    max-height:870px;
}
.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 20px 200px;
}
.service-container-sm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found img {
    width: 400px;
    height: 400px;
}

.not-found .goBack-btn {
    margin-top: 15px;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(49, 201, 176);
    color: whitesmoke;
}

.not-found .goBack-btn span {
    margin-left: 10px;
}

.not-found .goBack-btn:hover {
    background-color: rgba(192, 144, 24, 0.8);
    color: whitesmoke;
    padding: 10px 20px;
}

.home-icon{
    width: 100px;
    height: 100px;
    color: tan;
}


/* --------------------------------
----------mobile responsive--------
--------------------------------- */
@media only screen and (max-width:576px){
    .home-container{
        width: 100%;
    }
}